.navbar {
  background-color: rgb(99, 35, 219);
}
.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
}
.playdates {
  color: rgb(51, 114, 185);
  font-weight: bolder;
  font-stretch: extra-expanded;
}
.create {
  color: rgb(109, 175, 252);
  font-weight: bolder;
  font-stretch: extra-expanded;
}

body {
  background-image: url(../assets/images/playdate.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}
